<div class="wrapper">
  <ng-container *ngTemplateOutlet="paginatoTemplate"> </ng-container>
  <div class="list">
    <mat-card
      class="card"
      *ngFor="let item of usersInPage$ | async"
      routerLink="/user/{{ item.id }}"
    >
      <mat-card-header>
        <div mat-card-avatar class="card-header-image">
          <img mat-card-image class="avatar" [src]="item.avatar" />
        </div>
        <mat-card-title>
          {{ item.first_name }} {{ item.last_name }}
        </mat-card-title>
        <mat-card-subtitle>{{ item.email }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-divider></mat-divider>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button color="primary">View detials</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <ng-container *ngTemplateOutlet="paginatoTemplate"> </ng-container>

  <ng-template #paginatoTemplate>
    <mat-paginator
      *ngIf="totalNumberOfItems > 0"
      [length]="totalNumberOfItems"
      [pageSize]="pageSize"
      [pageIndex]="currentPageIndex"
      [pageSizeOptions]="[5, 10, 25, 100]"
      (page)="handlePageEvent($event)"
      aria-label="Select page"
    >
    </mat-paginator>
  </ng-template>

  <div class="spinner" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>
</div>
