<mat-toolbar>
  <button
    mat-button
    color="primary toolbar-button"
    matTooltip="Home"
    routerLink="/"
  >
    User Dashboard
  </button>
  <span class="spacer"></span>
  <mat-form-field
    class="form-field"
    *ngIf="headerService.showSearchBar$ | async"
  >
    <mat-label>Search by user id ...</mat-label>
    <input
      matInput
      type="text"
      [(ngModel)]="searchValue"
      (ngModelChange)="onSerchValueChange()"
    />

    <button
      *ngIf="searchValue"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="onClearSearch()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</mat-toolbar>
